@font-face {
    font-family: 'Saiba';
    src: url('fonts/saiba-45/SAIBA-45.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/helvetica/Helvetica-Bold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

body {
    background: url('Photos/background.png') no-repeat center center/cover;
    color: white;
    overflow-x: hidden;
    background-position: center 10%;
}

/* Navigation Bar */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}
.logo img {
    width: 55px; /* Adjust the width of the logo */
    height: auto; /* Maintain the aspect ratio */
    display: block; /* Remove any inline spacing */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.work-btn {
    border: 2px solid white;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
}
nav .a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
}

nav .a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 4px;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease-out, left 0.3s ease-out;
  }

nav a:hover::after {
    width: 100%;
    left: 0;
}

.work-btn:hover{
    background: white;
    color: #000000;
    text-decoration:none;
}
/* Hero Section */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 50px;
}

.hero-content {
    max-width: 50%;
}

.hero-content h1 {
    font-size: 150px;
    font-family: 'Saiba', sans-serif;
    text-transform: uppercase;
    color: #000000;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white;
}

.hero-content h2 {
    font-size: 40px;
    font-weight: bold;
}
.highlight {
    color: #000000;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white;
}

.hero-content p {
    font-size: 12px;
    margin: 20px 0;
}

.cta-btn {
    background: black;
    color: white;
    padding: 12px 24px;
    border: 2px solid rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
}

.cta-btn:hover {
    background: white;
    color: black;
}

/* Hero Image */
.hero-image img {
    max-width: 400px;
    border-radius: 10px;
}


/* Footer */
.down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    margin-top: 10px;
}

.down-logo {
    font-size: 18px;
    color: black;
    margin-top: 70px;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 70px;
}

.social-icons img {
    width: 30px;
    border-radius: 50%;
    transition: 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

/*Services*/

.services {
    text-align: center;
    padding: 50px 20px;
    background: #ffffff;
    color: rgb(0, 0, 0);
}
.services h2 {
    font-family:'Saiba', sans-serif ;
    font-size: 36px;
    margin-bottom: 40px;
}
.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
}
.service-images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}
.service-images img {
    width: 30px;
    height: 40px;
    border-radius: 50%;
    margin-top: 15px;
   
}
.services h1{
    font-size: 16px;
    text-decoration: underline red;
    margin-top: 20px;
    margin-bottom: 10px;

}
.service-card {
    background: #000000;
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    height:370px;
    max-width: 300px;
    transition: transform 0.3s;
}
.service-card-1 {
    background: #ffffff;
    color: #000000;
    padding: 20px;
    border: #000000 solid 2px;
    border-radius: 10px;
    text-align: center;
    width: 100%;
    height:370px;
    max-width: 300px;
    transition: transform 0.3s;
}
.service-card img {
    width: 80px;
    margin-bottom: 15px;
}
.service-card-1 img {
    width: 80px;
    margin-bottom: 15px;
}
.service-card h3 {
    font-size: 20px;
    margin-bottom: 15px;
}
.service-card-1 h3 {
    font-size: 20px;
    margin-bottom: 15px;
}
.service-card p {
    font-size: 12px;
    text-align: justify;
    text-justify: inter-word;
}
.service-card:hover {
    transform: scale(1.05);
}
.service-card-1 p {
    font-size: 12px;
    text-align: justify;
    text-justify: inter-word;
}
.service-card-1:hover {
    transform: scale(1.05);
}
@media (max-width: 973px) {
    .services-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 480px) {
    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
.our-work-btn {
    background: #84e811;
    color: white;
    padding: 10px 15px;
    border: none;
    margin-left: 150px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.our-work-btn:hover {
    background: #009900;
}
