@font-face {
    font-family: 'Saiba';
    src: url('fonts/saiba-45/SAIBA-45.ttf') format('truetype');
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/helvetica/Helvetica-Bold.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', sans-serif;
}

body {
    background: url('Photos/background.png') no-repeat center center/cover;
    color: white;
    overflow-x: hidden;
    background-position: center 10%;
}

#mute-btn {
    position: fixed;
    bottom: 20px;
    height: 50px;
    left: 20px;
    color: black;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: none;
    /* Hidden by default */
    transition: opacity 0.3s ease;
}



/* Navigation Bar */
header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 55px;
    background: rgba(0, 0, 0, 0.726);
    z-index: 1;
    width: 100%;
    height: 6rem;
}

.logo img {
    width: 50px;
    /* Adjust the width of the logo */
    height: auto;
    /* Maintain the aspect ratio */
    display: block;
    /* Remove any inline spacing */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: 0.3s;
}

.work-btn {
    border: 2px solid white;
    padding: 8px 16px;
    border-radius: 20px;
    text-decoration: none;
}

nav .a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    position: relative;
}

nav .a::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -2px;
    width: 0;
    height: 4px;
    background-color: rgb(255, 255, 255);
    transition: width 0.3s ease-out, left 0.3s ease-out;
    cursor: pointer;
}

nav a:hover::after {
    width: 100%;
    left: 0;
    cursor: pointer;
}

.work-btn:hover {
    background: white;
    color: #000000;
    text-decoration: none;
}

/* Hero Section */

.landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.hero {
    display: flex;
    align-items: center;
    padding: 100px 50px;
}

.hero-content h1 {
    margin-top: 5rem;
    font-size: 150px;
    font-family: 'Saiba', sans-serif;
    text-transform: uppercase;
    color: #000000;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white;
}

.hero-content h2 {
    font-size: 50px;
    font-weight: bold;
}

.highlight {
    color: #000000;
    text-shadow: 1px 1px 1px white, -1px -1px 1px white, 1px -1px 1px white, -1px 1px 1px white;
}

.hero-content p {
    font-size: 15px;
    margin: 20px 0;
}

.cta-btn {
    background: rgb(255, 187, 0);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: 2px solid rgb(0, 0, 0);
    font-size: 16px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 40px;
}

.cta-btn:hover {
    background: white;
    color: black;
}

/* Hero Image */
.hero-image img {
    max-width: 400px;
    border-radius: 10px;
}


/* Footer */
.down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    margin-top: 14rem;
}

.down-logo {
    font-size: 18px;
    color: black;
    margin-top: 70px;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 70px;
}

.social-icons img {
    width: 30px;
    border-radius: 50%;
    transition: 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}

/*Services*/

.services {
    height: 100vh;
    padding: 10rem;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
}

.services h2 {
    font-family: 'Saiba', sans-serif;
    font-size: 36px;
    margin-bottom: 40px;
    text-align: center;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    justify-items: center;
    margin: auto;
}

.service-images {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 15px;
}

.service-images img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-top: 15px;

}

.services .service-number {
    font-size: 30px;
    background: #9DFF00;
    border-radius: 50%;
    /* Makes it a perfect circle */
    display: inline-block;
    /* Prevents full-width background */
    width: 40px;
    /* Controls circle size */
    height: 40px;
    text-align: center;
    line-height: 40px;
    /* Centers the number inside */
    font-family: 'Saiba', sans-serif;
}

.service-card {
    background: #000000;
    color: #ffffff;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
    height: max-content;
    max-width: 300px;
    transition: transform 0.3s;
}

.service-card-1 {
    position: relative;
    background: #ffffff;
    color: #000000;
    padding: 10px;
    width: 100%;
    max-width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    /* Normal rounded corners */
    transition: transform 0.3s;
}

.content {
    padding: 10px 30px;
}

.content h1 {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.service-card h3 {
    margin-top: 20px;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: left;
}

.service-card-1 h3 {
    margin-top: 20px;
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
}

.service-card p {
    font-size: 12px;
    text-align: left;
    text-justify: inter-word;
}

.service-card:hover {
    transform: scale(1.05);
}

.service-card-1 p {
    font-size: 12px;
    text-align: left;
    text-justify: inter-word;
}

.service-card-1:hover {
    transform: scale(1.05);
}

@media (max-width: 973px) {
    .services-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .services-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.our-work-btn {
    background: #9DFF00;
    color: black;
    float: inline-end;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.our-work-btn1 {
    background: #9DFF00;
    color: black;
    float: inline-start;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
/*pricing*/
.pricing h2 {
    font-family: 'Saiba', sans-serif;
    font-size: 40px;
    margin-bottom: 40px;
    color: black;
    text-align: center;
}

.pricing {
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 900px;
    padding: 10px 10px;
    margin: auto;
    margin-bottom: 30px;
    border: 2px solid black;
    border-radius: 100px;
}

.buttons button {
    padding: 10px 20px;
    cursor: pointer;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    transition: background 0.3s;
}

.buttons button.active-btn {
    background: #000000;
    color: white;
    border: none;
}

.pricing p {
    font-size: 40px;
    margin-top: 10px;
    margin-top: 10px;
}

#pricing-sections {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.pricing-container {
    display: none;
    /* Initially hide all sections */
    gap: 20px;
}

.pricing-container h3 {
    font-size: 15px;
}

.pricing-container i {
    margin-right: 2rem;
}

.pricing-container.active {
    display: flex;
    /* Show the active section */
}

.pricing-container ul {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: left;
}

.pricing-card {
    background-image: url('Photos/pricingBackground.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    height: 500px;
    margin-top: 50px;
    text-align: center;
    transition: ease-in transform 0.3s;
}

.pricing-card-top {
    background-image: url('Photos/pricingBackground.png');
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    height: 600px;
    text-align: center;
    transition: ease-in transform 0.3s;
}

.pricing-card:hover {
    transform: scale(1.05)
}

.pricing-card-top:hover {
    transform: scale(1.05)
}

.pricing-card button {
    background: transparent;
    color: rgb(255, 255, 255);
    padding: 10px;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 10px;
    transition: transform 0.8s;
}

.pricing-card-top button {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 10px;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 50px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

    transition: transform 0.8s;
}

.pricing-card button:hover {
    background: white;
    color: #000000;
    border: none;
}

.pricing-card-top button:hover {
    background: white;
    color: #000000;
    border: none;
}

.pricing-container h3,
p {
    text-align: left;
}

.features {
    list-style: none;
    margin-bottom: 20px;
    padding: 0;
    margin-top: 20px;
    color: white;
    font-size: 16px;
}

.features li {
    margin: 10px 0;
}

hr {
    margin-bottom: 5px;
    margin-top: 5px;
}

.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    display: none;
    /* Hidden by default */
    transition: opacity 0.3s ease;
}

.back-to-top img {
    width: 1.5rem;
}

.back-to-top:hover {
    background-color: #333;
}